<h1>Pokenerator</h1>
<div class="generator">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="regionSelect" ngbDropdownToggle>{{(selected.value | titlecase) || "Todas Las Regiones"}}</button>
        <div ngbDropdownMenu aria-labelledby="regionSelect" #selected>
            <button ngbDropdownItem id="option" on-click="selected.value='Todas Las Regiones'">Todas Las Regiones</button>
            <button ngbDropdownItem id="option" on-click="selected.value=region.name" *ngFor="let region of regionsArray">{{region.name | titlecase}}</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Generar</button>
    </div>
</div>